@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-libre-baskerville), Georgia, serif;
  --font-mono: var(--font-roboto-mono), ui-monospace, monospace;
}

:root {
  --fd-sidebar-width: 280px;
}
