name: Deploy
on:
  push:
    branches: [main, staging, dev]
  workflow_dispatch:

jobs:
  deploy:
    uses: aldea-ai/pizza-party/.github/workflows/service-deploy.yaml@main
    secrets: inherit
    permissions:
      id-token: write
      contents: read
