name: Deploy
on:
  push:
    branches: [main, staging, dev]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: aldea-ai/pizza-party/.github/actions/deploy@main
        with:
          aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          platform_token: ${{ secrets.PLATFORM_TOKEN }}
